@model IEnumerable<Eve_Intel_Manager.Entities.Reports>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Secure/_DashboardLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>              
                Time Generated
            </th>
            <th>
                Created By
            </th>
            <th>             
                Location
            </th>
            <th>
               
                Body

            </th>
            <th>             
                Time of Expiration
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportGenerated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.ReportLocation)
            <td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportBody)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportExpiry)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReportID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReportID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReportID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
